.DS_Store
Icon*
*.project
*.settings
*src/local-config.json
node_modules
db/appendonly.aof
db/redis_dump.rdb
redis-*
registration-server.iml
register.iml
service-register.iml
newrelic_agent.log
build/service-register/release.tar
.idea

# code tree structure visualization
mindMap.mmd

# ide
nbproject/
.vscode/
